/* The animation code */
@keyframes twitterlogo {
    0% {background-color:white;}
    25% {background-color: turquoise;}
    50% {background-color: teal;}
    75% {background-color: darkcyan;}
    100% { background-color: darkblue;}
}

/* The element to apply the keyframe to */
.twitterlogo {
    width: 100px;
    height: 100px;
    background-color: white;
    animation-name: twitterlogo;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.twitterlogo img{
    width: 100%;
    height: 100%;
}