/* The animation code */
@keyframes twitterlogo {
    0% {background-color:white;}
    50% {background-color: teal;
    translate: rotate(180deg);}
    100% { background-color: dodgerblue;
    transform: rotate(360deg);}
}

/* The element to apply the keyframe to */
.twitterlogo {
    width: 100px;
    height: 100px;
    background-color: white;
    animation-name: twitterlogo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: unset;
}
.twitterlogo img{
    width: 100%;
    height: 100%;
}
